<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
	<!-- <link rel="stylesheet" -->
      <!-- href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css"> -->
	<link rel="stylesheet" href="code-colorscheme.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
    <script src="script.js" defer></script>
    <title>does this change?</title>
</head>
<body>
    <div id="container">
        <div id="nav">
            <div id="home"><a href="#">~/</a></div>
            <div id="nav-links">
                <ul>
					<li><a href="#">--posts</a></li>
					<li><a href="#">--about</a></li>
                </ul>
            </div>
        </div>
		
		<h1>{{ post.title }}</h1>
        <div id="date">
			<p><em>{{ post.date }}</em></p>
        </div>

        <div id="content">
			{{ post.content | safe }}
        </div>

        <div id="references">
            <!-- Links must have an anchor -->
			<hr />
            <div id="links">
				<p>Related: </p>
				<ul>
				{% for link in post.links %}
					<li><strong>{{ link.title }}</strong>: <a href="{{ link.url }}">{{ link.url }}</a></li>
				{% endfor %}
				</ul>
            </div>
			<hr />
        </div>

        <div id="tags">
			<footer>
				<p>{{ post.tags }}</p>
			</footer>
        </div>

		<footer id="email">
			<p>Benjamín García Roqués > benjamingarciaroques@gmail.com</p>
		</footer>
    </div>
</body>
</html>
